{{ if isset $.Site.Params "adsensePublisher" }}
    {{ with .Params }}
    {{ with .sticky }}<amp-sticky-ad layout="nodisplay">{{ end }}
    <amp-ad type="adsense"
            {{ if isset . "width" }}width="{{ .width }}"{{ end }}
            {{ if isset . "height" }}height="{{ .height }}"{{ end }}
            data-ad-client="{{ $.Site.Params.adsensePublisher }}"
            {{ if isset . "slot" }}data-ad-slot="{{ .slot }}"{{ end }}>
    </amp-ad>
    {{ with .sticky }}</amp-sticky-ad>{{ end }}
    {{ else }}
    {{ with .sticky }}<amp-sticky-ad layout="nodisplay">{{ end }}
    <amp-ad type="adsense"
            {{ if isset . "width" }}width="{{ .width }}"{{ end }}
            {{ if isset . "height" }}height="{{ .height }}"{{ end }}
            {{ if isset . "adClient" }}data-ad-client="{{ .adClient }}"{{ end }}
            data-ad-client="{{ $.Site.Params.adsensePublisher }}"
            {{ if isset . "slot" }}data-ad-slot="{{ .slot }}"{{ end }}>
    </amp-ad>
    {{ with .sticky }}</amp-sticky-ad>{{ end }}
    {{ end }}
{{ else }}
    You must set an adsensePublisher in your config.toml Params.
{{ end }}